.mainsection {
    max-width: 620px;
    box-sizing: border-box;
}
.tabs {
    display: flex;
}
.scrollsection {
    max-height: calc(100vh - 300px);
    overflow: auto;
}
.groupsection {
    display: flex;
}
.groupinner {
    display: flex;
    flex-wrap: wrap;
}
